

/*HOME PAGE WORK HERE */

@font-face{
    font-family:pacifico-regular;
src:url(/fonts/Pacifico-Regular.ttf);
}

h1 {
        font-family:Pacifico-Regular;
    color: rgb(245, 173, 185);
}

body{
    overflow: hidden;
    background-color:rgb(254, 255, 235);
    
}
img {
    display: block; margin: auto;
}
li{
    font-size:40px;
     list-style-type: none;
    margin-inline: 10px;
    color:#3e4170;
    background-color: pink;
}

h2{
    color:#795b86
}
div{
    display:inline-flex;
    }

ul {
    padding: 0;
    margin: 0;
}
ul li {
    padding: 8px 12px;
    border-radius: 12px;}
ul li:hover {
    background-color: #ff98b2;
    color: #ffffff;
}

.paragraph-box {
    background: #ffbfd3;
    border-radius: 16px;
    width: 800px;
    padding:20px;
    margin: 18px auto;
}

/*HELP ME HELP ME PLEASE HELP HELP HELP*/
/*HOME PAGE END HERE*/

/*MORE ABOUT START HERE*/
ul.more-about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0;
    font-size: 40px;
}

ul.more-about li {
    list-style: none;
    padding: 6px 8px;
    display: inline-block;
}

body.more-about {
        overflow: auto;
    background-color:rgb(254, 255, 235);
    font-size:24px;



    /*MORE ABOUT ENDS HERE*/


    /*TEDDY HELP STARTS HERE*/


  }

div.submit {
    display:flex;
    flex-direction: column;
    gap:5px;
    background-color: #ffbfd3; width: 500px;
    border-radius: 10%;
margin:0 auto;
    
}

body.helping {
    overflow:auto;
font-size: 20px;
font-weight: 300;
}

/*TEDDY HELP ENDS HERE*/

/*TEDDY NEWS STARTS HERE*/


body.news-section-2 {
        overflow: auto;
    background-color:rgb(254, 255, 235);
    font-size:24px; }

    body.news-section-2 h2{
    background-color: #ffbfd3;
border-radius: 100px;
text-align: center;}

body.news-section-2 div.news-section {
    background-color: #ffbfd3;
    border-radius: 70px;
    width: 800px;
    padding-block: 40px;
    margin: 18px auto; 
       text-align: center;
}
body.news-section-2 div.news-section h3 {
    margin-bottom: 12px;
    font-size: 45px;
    background-color: antiquewhite;
    border-radius: 80px;
}

body.news-section-2 div.news-section p { font-size: 30px;
    background-color: antiquewhite;
    border-radius: 80px;
}

img.snowbaby {
    display: block; margin: auto;
    border-radius: 50%;
    }

    img.beartime {
    display: block; margin: auto;
    border-radius: 50%;
    }